* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper {
  padding-left: 108px;
  padding-right: 108px;
}

.semi-bold {
  font-weight: 600;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.gray {
  color: #5e6e78;
}

.gray-04 {
  color: #cdd4d8;
}

.body-sm {
  font-size: 12px;
  line-height: 16px;
}

button{
  border: 0;
}

.primary {
  color: #0060ff;
}



.medium {
  font-weight: 500;
}


.body {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.button-primary-1 {
  color: #0060ff;
  text-align: center;
  background-color: #f0f6ff;
  border-radius: 6px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 600;
  line-height: 22px;
  padding: 9px 15px;
}

.button-primary {
  color: #fff;
  text-align: center;
  background-color: #0060ff;
  border-radius: 6px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 600;
  padding: 9px 15px;
  line-height: 22px;
}

.primary{
  color: #0060FF;
}

a{
  text-decoration: none;
}

.gray-06 {
  color: #a9b5bc;
}